<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8" />
<title>Résultat IMC</title>
<!-- CDN : Bootstrap CSS and JS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Bundle JS includes Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-3">
  <h1>😊 CALCUL INDICE DE MASSE CORPORELE IMC :</h1>
  <div class="container mt-3"></div>
    <div class="card text-center bg-light mb-3" style="max-width: 200rem;">
         <h2> <div class="card-header text-white bg-primary"> 😉 Résultat</div></h2>
         <h4 class="card-title"> Vortre IMC :</h4>
         <p>Âge : {{.Age}}</p>
         <p>Sexe : {{.Sexe}}</p>
         <p>Votre IMC est de : {{printf "%.2f" .Imc}}</p>
         <p>Catégorie : {{.Categorie}}</p>
    </div>
  </div>
</div>
<strong><center><a href="/">🔙 Revenir à la page d'accueil</a></center></strong>
</body>
</html>